
@import "css/bootstrap.css";
@import "css/bootstrap-responsive.css";

body {
	font-family:"Times New Roman", Times, serif;
	min-height: 100%;
  	height: auto !important;
  	height: 100%; /** NEED FOR IE **/
  	margin: 0;
  	padding: 0;
}

h1 {  
   font-family: 'Abril Fatface', Times, serif;
   font-size:40px; color:#fff ;
   letter-spacing:2.5px;
   padding: 30px 42px 2px;
}

h2 {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: .05em;
	font-style: italic;
	line-height: 18px;
	padding-left: 40px;
	margin-bottom: 34px;
}

#disclosure {
	color: #333333;
  	display: none;
  	text-align: center;
  	margin: 16px 0;
}

#disclosure h1 {
	color: #333333;
}

#disclosure p {
  padding: 10px 12px;
}

.twitter {
	margin-right: 12px;
}
.facebook {
	margin-left: 12px;
}

.pghnav {
	 background-image: url(../img/wild_oliva.png);
	 background-repeat:repeat;
 }

nav ul {
   	margin-top: 65px;
   	float: right;
}
   
nav li {
   	font-family: "Source Sans Pro", sans-serif;
   	letter-spacing:1.5px;
   	color:white; padding-right:45px;
   	display: inline;
 	list-style: none;
 }

.span6 li a,
.span6 li a:visited {
	text-decoration: none;
	color: #fff;
}

.span6 li a:hover {
	text-decoration: none;
	border-bottom: #EE6557 4px solid;
}

#aboutsection {
	 background-repeat: repeat;
	 background-color:green;
	 text-align:center;
}

.about {
	color: white;
	font-family: "Source Sans Pro", sans-serif;
	letter-spacing: 1px;
	max-width: 700px; text-align: center;
	height: 150px;
	margin: 0px auto 0px auto;
}

p.whitetext { 
	letter-spacing:1px;
	text-align: center;
	color:white;
}

p.graytext { 
	letter-spacing:1px;
	text-align: center;
	color:gray;
}

#arrow a {
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	height: 60px; width: 60px;
	padding: 10px 10px;
	margin: 15px 10px;
	opacity:0.4;
}

/*---HOUSES ---*/

.house { 
	width: 100%;
	text-align: center;
	padding: 35px 0;
}

.kingston {
    background-color: #e7c176;
}

.5816darlington {
    background-color: #12203d;
}

.whitehouse {
    background-color: #aed0d9;
}

.dunmoyle {
    background-color: #e9f7fb;
}

.121linden {
    background-color: #fbf2bc;
}

.murdstone {
    background-color: #222257;
}

.beverly {
    background-color: #cbe7de;
}
.atlantic {
    background-color: #c0dadb;
}

.penham {
    background-color: #f1edd4;
}

.pacific {
    background-color: #e3f0ef;
}

.macon {
    background-color: #0d4968;
}

.linden {
    background-color: #492b12;
}

.darlington {
    background-color: #fcf6e5;
}

.greenave {
    background-color: #eae4d0;
}

.yorkave {
    background-color: #08a287;
}
.northave {
    background-color: #eeefee;
}

.trenton {
    background-color: #e5e3d2;
}

.snegley {
    background-color: #c4dad9;
}
   
.beechwood {
    background-color: #4f5052;
}

.gilda {
    background-color:#e36a74;
}

.biddle {
    background-color:#faf4cd;
}

.larryville {
    background-color:#5ebe98;
}

.lang {
    background-color: #bce3e1;
}

.beechwoodtwo {
    background-color: #4c2c12;
}

.dallas {
    background-color: #c6e9f0;
}

/*---HOUSES ---*/



/*---KEYFRAMES ---*/

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0; /*This makes things invisible upon start*/
	-webkit-animation:fadeIn ease-in 1; /*Call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time*/
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	
	-webkit-animation-duration:0.7s;
	-moz-animation-duration:0.7s;
	animation-duration:0.7s;}

.fade-in.one {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;}

.fade-in.two {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;}

.fade-in.three {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;}


footer {
	 background-image: url(../img/wild_oliva.png);
     background-repeat:repeat;
     color: #777;}

footer p {
 	margin: 0;
 	padding: 20px;
 }


@media (max-width: 767px) {
  body {
    padding-right:0px;
    padding-left:0px;}

  h1 {
  	padding-left: 0;
  }
  
  h2 {
  	margin-top: 0;
  	margin-bottom: 12px;
  	padding: 0 55px;
  }
  .pghnav {
  	text-align: center;
  }

  nav ul {
  	margin: 0;
  	float: none;
  }
  .pghnav li:last-child {
  	padding-right: 0;
  }

  img {
  	max-width: 90%;
  }
}

@media (min-width: 480px) {
  body {
    padding-right:0px;
    padding-left:0px;
  }
}



